Repository vmoranv/aolarhapsody: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles, lint-json, lint-package, lint-md

lefthook.yml:

# See https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# pre-push:
#   jobs:
#     security-audit:
#       run: pnpm audit

pre-commit:
  parallel: true
  commands:
    lint-scripts:
      glob: '**/*.{js,jsx,ts,tsx}'
      run: pnpm eslint --cache --fix {staged_files}
    lint-styles:
      glob: '**/*.{css,scss,less,vue}'
      run: pnpm stylelint --fix --allow-empty-input {staged_files}
    lint-json:
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
      run: pnpm prettier --cache --write --parser json {staged_files}
    lint-package:
      glob: 'package.json'
      run: pnpm prettier --cache --write {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}

post-merge:
  parallel: true
  commands:
    install:
      run: pnpm install

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

feat(backend): 添加数据转换器功能
  backend/dataparse/converter.ts
  backend/dataparse/index.ts
  backend/routes/converter.ts
  backend/routes/index.ts
Due: lint-scripts

feat(frontend): 添加物品详情弹窗功能
  frontend/src/components/DataView.tsx
  frontend/src/components/DetailDialog.tsx
  frontend/src/locales/en/petCard2.json
  frontend/src/locales/en/tote.json
  frontend/src/locales/zh/petCard2.json
  frontend/src/locales/zh/tote.json
  frontend/src/types/petCard2.ts
  frontend/src/types/tote.ts
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/CrystalKey.tsx
  frontend/src/views/GodCard.tsx
  frontend/src/views/HK.tsx
  frontend/src/views/Inscription.tsx
  frontend/src/views/PetCard.tsx
  frontend/src/views/PetCard2.tsx
  frontend/src/views/Tote.tsx
Due: lint-scripts

feat(frontend): 添加多点爆破功能
  frontend/package.json
  frontend/src/i18n.ts
  frontend/src/locales/en/common.json
  frontend/src/locales/en/multiPointBurst.json
  frontend/src/locales/zh/common.json
  frontend/src/locales/zh/multiPointBurst.json
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/utils/burst-helper.ts
  frontend/src/views/MultiPointBurst.tsx
Due: lint-scripts

fix(deps): 添加 lodash 依赖
  pnpm-lock.yaml
Due: none

feat(deps): 添加 @types/lodash 依赖
  package.json
  pnpm-lock.yaml
Due: lint-package

feat(frontend): 集成 CopilotKit 并重构应用
  frontend/.env.example
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/index.css
  frontend/src/store/setting.ts
  pnpm-lock.yaml
Due: lint-scripts, lint-styles

docs(infrastructure): 添加 VitePress 配置并更新相关文件
  .gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/api-examples.md
  docs/en/api-examples.md
  docs/en/index.md
  docs/en/markdown-examples.md
  docs/index.md
  docs/markdown-examples.md
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/site.webmanifest
  docs/public/yinhe.jpg
  package.json
  pnpm-lock.yaml
Due: lint-scripts, lint-styles, lint-package, lint-md

fix(docs): 添加 docs 项目并配置 vitepress 依赖
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs: 完善导航栏和侧边栏内容
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/architecture/overview.md
  docs/calculation/damage.md
  docs/community/contributing.md
  docs/deployment/vercel.md
  docs/en/architecture/overview.md
  docs/en/calculation/damage.md
  docs/en/community/contributing.md
  docs/en/deployment/vercel.md
  docs/en/guide/introduction.md
  docs/en/index.md
  docs/en/packets/list.md
  docs/guide/introduction.md
  docs/packets/list.md
Due: lint-scripts, lint-styles, lint-md

feat(frontend): 集成 Copilot 功能并优化搜索和对话框逻辑
  frontend/src/components/DataView.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SearchAndFilter.tsx
  frontend/src/store/dialog.ts
  frontend/src/store/search.ts
  frontend/src/views/ExistingPackets.tsx
  frontend/src/views/GodCard.tsx
  frontend/src/views/Poster.tsx
Due: lint-scripts

feat(frontend): 添加伤害计算器功能
  backend/dataparse/icondata.ts
  backend/dataparse/item.ts
  backend/dataparse/miracle.ts
  backend/dataparse/petdictionary.ts
  backend/routes/icondata.ts
  backend/routes/item.ts
  backend/types/icondata.ts
  backend/types/petcard.ts
  frontend/index.html
  frontend/landing.html
  frontend/src/components/ConfigList.tsx
  frontend/src/components/ItemCard.tsx
  frontend/src/components/Overlay.tsx
  frontend/src/components/PetSelectionModal.tsx
  frontend/src/components/RadialMenu.tsx
  frontend/src/locales/en/common.json
  frontend/src/locales/zh/common.json
  frontend/src/locales/zh/godCard.json
  frontend/src/locales/zh/landing.json
  frontend/src/locales/zh/miscellaneous.json
  frontend/src/locales/zh/petCard2.json
  frontend/src/main.tsx
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/store/damageCalculator.ts
  frontend/src/types/damageCalculator.ts
  frontend/src/utils/pet-helper.ts
  frontend/src/views/CharacterAnalyzer.tsx
  frontend/src/views/DamageCalculator.tsx
  frontend/src/views/PetDictionary.css
Due: lint-scripts, lint-styles

feat(damageCalculator): 优化伤害计算器功能和UI
  frontend/src/components/ItemCard.tsx
  frontend/src/components/PetSelectionModal.tsx
  frontend/src/i18n.ts
  frontend/src/locales/en/damageCalculator.json
  frontend/src/locales/en/existingPackets.json
  frontend/src/locales/zh/damageCalculator.json
  frontend/src/locales/zh/existingPackets.json
  frontend/src/store/damageCalculator.ts
  frontend/src/views/DamageCalculator.tsx
  frontend/src/views/ExistingPackets.tsx
Due: lint-scripts

feat(frontend): 增加神兵套装和上帝卡套装的查看功能
  frontend/src/components/DataView.tsx
  frontend/src/components/ItemCard.tsx
  frontend/src/locales/en/godCard.json
  frontend/src/locales/zh/godCard.json
  frontend/src/store/dialog.ts
  frontend/src/types/astralSpirit.ts
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/GodCard.tsx
Due: lint-scripts

docs(architecture): 撰写项目架构设计文档
  README.md
  docs/.vitepress/config.ts
  docs/architecture/overview.md
  docs/en/architecture/overview.md
  docs/en/guide/introduction.md
  docs/en/guide/quick-guide.md
  docs/en/index.md
  docs/guide/introduction.md
  docs/guide/introduction/features.md
  docs/guide/introduction/quick-start.md
  docs/guide/project/cli.md
  docs/guide/project/standard.md
  docs/guide/project/structure.md
  docs/guide/quick-guide.md
  docs/index.md
Due: lint-scripts, lint-md

feat(backend): 添加游戏数据自动刷新功能
  backend/dataparse/index.ts
  backend/index.ts
  backend/package.json
  pnpm-lock.yaml
Due: lint-scripts

docs: 更新赞助页面的二维码图片显示
  docs/community/sponsor.md
  docs/en/community/sponsor.md
Due: lint-md

docs(aola): 更新伤害计算文档
  docs/aola/damage.md
  docs/en/aola/damage.md
Due: lint-md

docs(essentials): 更新开发文档
  docs/en/essentials/development.md
  docs/en/guide/quick-guide.md
  docs/essentials/development.md
  docs/guide/quick-guide.md
Due: lint-md

docs: 更新文档链接和结构
  docs/en/index.md
  docs/index.md
Due: lint-md

docs(en): 完善 essentials 指南
  docs/en/essentials/build.md
  docs/en/essentials/cli.md
  docs/en/essentials/development.md
  docs/en/essentials/locale.md
  docs/en/essentials/settings.md
Due: lint-md

docs(tmp): 添加前后端职责重构tmp文档
  docs/other/frontend-backend-optimization.md
Due: lint-md

docs(essentials): 更新组件和设置文档
  backend/index.ts
  docs/en/essentials/components.md
  docs/en/essentials/settings.md
  docs/essentials/components.md
  docs/essentials/settings.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/ash/bin/ash.mjs
  scripts/turbo-run/bin/turbo-run.mjs
Due: lint-scripts, lint-package, lint-md

feat(damageCalculator): 重构亚比配置并添加新功能
  frontend/src/components/ConfigList.tsx
  frontend/src/components/RadialMenu.tsx
  frontend/src/store/damageCalculator.ts
  frontend/src/types/damageCalculator.ts
  frontend/src/utils/pet-helper.ts
  frontend/src/views/DamageCalculator.tsx
  pnpm-workspace.yaml
  scripts/wait-for-backend.mjs
Due: lint-scripts

feat(petcard): 优化套装页面展示逻辑
  backend/routes/petcard.ts
  docs/other/frontend-backend-optimization.md
  frontend/src/components/ItemCard.tsx
  frontend/src/types/petCard.ts
  frontend/src/utils/api.ts
  frontend/src/views/PetCard.tsx
Due: lint-scripts, lint-md

feat(backend): 添加数据缓存功能
  .gitignore
  backend/dataparse/existingactivity.ts
  backend/dataparse/file-cache.ts
  backend/dataparse/gamedataparser.ts
  backend/dataparse/pmdatalist.ts
  backend/package.json
  pnpm-lock.yaml
Due: lint-scripts

feat(build): 添加 Tauri 桌面应用构建支持
  .github/workflows/release.yml
  docs/en/essentials/build.md
  docs/essentials/build.md
  frontend/package.json
  frontend/src-tauri/tauri.conf.json
  package.json
  scripts/build-tauri-multi-platform.mjs
Due: lint-package, lint-md

feat(frontend): 添加 Tauri 桌面应用支持
  README.en.md
  README.md
  frontend/src-tauri/Cargo.toml
Due: lint-md

feat(frontend): 优化宠物卡套装详情展示
  frontend/src/locales/en/astralSpirit.json
  frontend/src/locales/en/petCard.json
  frontend/src/locales/zh/astralSpirit.json
  frontend/src/locales/zh/petCard.json
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/PetCard.tsx
Due: lint-scripts

feat(frontend): 优化星灵套装详情页面布局和内容
  .github/workflows/release.yml
  frontend/src/locales/en/astralSpirit.json
  frontend/src/locales/zh/astralSpirit.json
  frontend/src/views/AstralSpirit.tsx
Due: lint-scripts

feat(godcard): 优化神兵套装详情展示和图片加载
  backend/routes/godcard.ts
  frontend/src/utils/image-helper.ts
  frontend/src/views/GodCard.tsx
Due: lint-scripts

refactor(frontend): 精简铭文页面组件
  frontend/src/views/Inscription.tsx
Due: lint-scripts

feat(i18n): 添加分页组件的国际化文本并配置 Ant Design 语言包
  frontend/src/components/DataView.tsx
  frontend/src/locales/en/hk.json
  frontend/src/locales/en/inscription.json
  frontend/src/locales/zh/hk.json
  frontend/src/locales/zh/inscription.json
  frontend/src/views/ExistingPackets.tsx
  frontend/src/views/Poster.tsx
Due: lint-scripts

feat(hk): 优化魂卡数据解析和展示
  backend/dataparse/hk.ts
  frontend/src/components/Layout.tsx
  frontend/src/utils/hk-utils.ts
  frontend/src/views/HK.tsx
Due: lint-scripts

docs(README): 添加 DeepWiki 链接并更新 Copilot 依赖版本
  README.en.md
  README.md
  frontend/package.json
  package.json
  pnpm-lock.yaml
  scripts/wait-for-backend.mjs
Due: lint-package, lint-md

feat(petexchange): 新增亚比交换解析功能
  backend/dataparse/index.ts
  backend/dataparse/petexchange.ts
  backend/dataparse/user-pet-database.ts
  backend/index.ts
  backend/package.json
  backend/routes/index.ts
  backend/routes/petexchange.ts
  backend/types/index.ts
  backend/types/petexchange.ts
  backend/types/urlconfig.ts
  frontend/src/i18n.ts
  frontend/src/index.css
  frontend/src/locales/en/common.json
  frontend/src/locales/en/petexchange.json
  frontend/src/locales/zh/common.json
  frontend/src/locales/zh/petexchange.json
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/types/petExchange.ts
  frontend/src/views/PetExchange.tsx
  pnpm-lock.yaml
Due: lint-scripts, lint-styles

feat(frontend): 集成 Vercel 分析
  frontend/package.json
  frontend/src/App.tsx
  pnpm-lock.yaml
Due: lint-scripts

fix(dataparse): 重命名冲突的导出端口
  backend/dataparse/index.ts
Due: lint-scripts

refactor(petexchange): 移除宠物查询相关代码
  backend/routes/petexchange.ts
  backend/types/petexchange.ts
Due: lint-scripts
