Repository vmoranv/aolarhapsody: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles, lint-json, lint-package, lint-md

lefthook.yml:

# See https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# pre-push:
#   jobs:
#     security-audit:
#       run: pnpm audit

pre-commit:
  parallel: true
  commands:
    lint-scripts:
      glob: '**/*.{js,jsx,ts,tsx}'
      run: pnpm eslint --cache --fix {staged_files}
    lint-styles:
      glob: '**/*.{css,scss,less,vue}'
      run: pnpm stylelint --fix --allow-empty-input {staged_files}
    lint-json:
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
      run: pnpm prettier --cache --write --parser json {staged_files}
    lint-package:
      glob: 'package.json'
      run: pnpm prettier --cache --write {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}

post-merge:
  parallel: true
  commands:
    install:
      run: pnpm install

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

refactor(frontend): 添加环境变量以配置 API 基础 URL
  frontend/src/views/PetExchange.tsx
Due: lint-scripts

refactor(petexchange): 优化用户宠物数据查询和处理逻辑
  backend/dataparse/petexchange.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/theme/ThemeContext.tsx
  frontend/src/views/PetExchange.tsx
  frontend/vite.config.ts
  pnpm-lock.yaml
Due: lint-scripts

feat(backend): 添加环境变量配置并优化 CORS 设置
  backend/.env.example
  backend/index.ts
  docs/en/essentials/development.md
  docs/essentials/development.md
Due: lint-scripts, lint-md

refactor(dataparse): 重构宠物数据模块并优化用户数据查询流程
  backend/dataparse/index.ts
  backend/dataparse/petexchange.ts
  backend/index.ts
  backend/routes/petexchange.ts
  backend/types/petexchange.ts
  frontend/package.json
  frontend/src/types/petExchange.ts
  frontend/src/views/PetExchange.tsx
  pnpm-lock.yaml
Due: lint-scripts

refactor(docker-compose.yml, package.json): 更新Docker配置并修改构建脚本
  docker-compose.yml
  package.json
  scripts/deploy/build-local-docker-image.js
  scripts/deploy/build-local-docker-image.ps1
Due: lint-scripts, lint-package

refactor(dataparse): 重构宠物数据模块命名以区分功能
  backend/dataparse/index.ts
  backend/dataparse/petexchange.ts
Due: lint-scripts

feat(petcard2): 添加特性晶石描述数据的获取与展示功能
  backend/dataparse/petcard2.ts
  backend/routes/petcard2.ts
  backend/types/petcard2.ts
  frontend/src/locales/en/petCard2.json
  frontend/src/locales/zh/petCard2.json
  frontend/src/types/petCard2.ts
  frontend/src/views/PetCard2.tsx
Due: lint-scripts

feat(i18n): 移除 petCard2 中不再使用的国际化字段
  frontend/src/locales/en/petCard2.json
  frontend/src/locales/zh/petCard2.json
Due: none

feat(badword-check): 添加敏感词检测功能
  backend/dataparse/badwordcheck.ts
  backend/index.ts
  backend/routes/badwordcheck.ts
  frontend/src/i18n.ts
  frontend/src/locales/en/badwordCheck.json
  frontend/src/locales/en/common.json
  frontend/src/locales/zh/badwordCheck.json
  frontend/src/locales/zh/common.json
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/views/BadwordCheck.tsx
Due: lint-scripts

feat(expCalculator): 添加经验计算器功能并完善国际化支持
  backend/dataparse/pmdatalist.ts
  frontend/src/i18n.ts
  frontend/src/locales/en/common.json
  frontend/src/locales/en/expCalculator.json
  frontend/src/locales/en/miscellaneous.json
  frontend/src/locales/zh/common.json
  frontend/src/locales/zh/expCalculator.json
  frontend/src/locales/zh/miscellaneous.json
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/views/ExpCalculator.tsx
  frontend/src/views/Miscellaneous.tsx
Due: lint-scripts

feat(docs): 集成 KaTeX 数学公式支持并添加战斗力计算文档
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/aola/battle-effectiveness.md
  docs/en/aola/battle-effectiveness.md
  docs/package.json
  pnpm-lock.yaml
Due: lint-scripts, lint-md

docs(aola): 更新战斗效果文档中的数学表达式变量命名与注释
  docs/aola/battle-effectiveness.md
Due: lint-md

feat(buff): 添加 ABB Buffs 模块及相关路由和本地化支持
  backend/dataparse/buff.ts
  backend/dataparse/index.ts
  backend/routes/buff.ts
  backend/routes/index.ts
  frontend/src/locales/en/miscellaneous.json
  frontend/src/locales/zh/miscellaneous.json
  frontend/src/views/Miscellaneous.tsx
Due: lint-scripts

feat(backend): 添加 sanctuary effects 模块和路由
  backend/dataparse/index.ts
  backend/dataparse/itemchest.ts
  backend/dataparse/sanctuaryeffects.ts
  backend/routes/index.ts
  backend/routes/itemchest.ts
  backend/routes/sanctuaryeffects.ts
Due: lint-scripts

feat(commonbuff): 新增公共buff模块及其路由配置
  backend/dataparse/commonbuff.ts
  backend/dataparse/index.ts
  backend/routes/commonbuff.ts
  backend/routes/index.ts
  backend/routes/itemchest.ts
Due: lint-scripts

feat(dataparse): 抽离类型定义并新增fetter模块支持
  backend/dataparse/commonbuff.ts
  backend/dataparse/fetter.ts
  backend/dataparse/index.ts
  backend/dataparse/itemchest.ts
  backend/dataparse/sanctuaryeffects.ts
  backend/routes/fetter.ts
  backend/routes/index.ts
  backend/types/commonbuff.ts
  backend/types/fetter.ts
  backend/types/index.ts
  backend/types/itemchest.ts
  backend/types/sanctuaryeffects.ts
Due: lint-scripts

feat(backend): 添加随机名称和推荐名称模块
  backend/dataparse/index.ts
  backend/dataparse/randomname.ts
  backend/dataparse/recommendname.ts
  backend/routes/index.ts
  backend/routes/randomname.ts
  backend/routes/recommendname.ts
  backend/types/index.ts
  backend/types/randomname.ts
Due: lint-scripts

feat(petskin): 添加宠物皮肤模块支持
  backend/dataparse/index.ts
  backend/dataparse/petskin.ts
  backend/routes/index.ts
  backend/routes/petskin.ts
  backend/types/index.ts
  backend/types/petskin.ts
Due: lint-scripts

feat(backend): 添加活动去重逻辑
  backend/dataparse/existingactivity.ts
Due: lint-scripts

feat(PetDictionary): 重构技能展示区域为Card组件
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts

fix(poster): 移除组件中的注释文本
  frontend/src/views/Poster.tsx
Due: lint-scripts

feat(copilot): 集成CopilotKit功能到多个页面
  frontend/package.json
  frontend/src/components/Layout.tsx
  frontend/src/types/crystalkey.ts
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/Attribute.tsx
  frontend/src/views/BadwordCheck.tsx
  frontend/src/views/CharacterAnalyzer.tsx
  frontend/src/views/CrystalKey.tsx
  frontend/src/views/DamageCalculator.tsx
  frontend/src/views/ExistingPackets.tsx
  frontend/src/views/GodCard.tsx
  frontend/src/views/HK.tsx
  frontend/src/views/Inscription.tsx
  frontend/src/views/PetCard.tsx
  frontend/src/views/PetCard2.tsx
  frontend/src/views/PetDictionary.tsx
  frontend/src/views/PetExchange.tsx
  frontend/src/views/Poster.tsx
  frontend/src/views/Tote.tsx
  pnpm-lock.yaml
Due: lint-scripts

feat(frontend): 优化宠物字典和属性查询功能
  backend/index.ts
  backend/types/monitorconfig.ts
  frontend/src/components/MainContent.tsx
  frontend/src/i18n.ts
  frontend/src/utils/pet-helper.ts
  frontend/src/views/Attribute.tsx
  frontend/src/views/Inscription.tsx
  frontend/src/views/PetCard2.tsx
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts

docs(readme): 添加 API 文档链接
  README.en.md
  README.md
  docs/en/guide/quick-guide.md
  docs/guide/quick-guide.md
  frontend/src/views/Attribute.tsx
Due: lint-scripts, lint-md

docs(aola): 移除章节编号并优化标题结构
  docs/aola/faq.md
  docs/aola/free-pet.md
  docs/aola/free-petcard2.md
  docs/aola/free-petskin.md
  docs/aola/free-resource.md
  docs/aola/getstarted.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
Due: lint-md

docs(config): 更新奥拉星文档导航菜单
  docs/.vitepress/config.ts
Due: lint-scripts

docs(always_ask_why): 修改格式以适配vitepress
  docs/aola/free-pet.md
  docs/aola/free-petcard2.md
  docs/aola/free-petskin.md
  docs/aola/free-resource.md
  docs/aola/getstarted.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
  scripts/setup-git-config.mjs
Due: lint-md

docs(aola): 更新文档格式与内容细节
  docs/aola/getstarted.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
Due: lint-md

docs(aola): 优化FAQ及培养建议文档格式与表述
  docs/aola/faq.md
  docs/aola/onemorething.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
Due: lint-md

docs(aola): 更新入门指南文档结构与内容
  docs/aola/getstarted.md
Due: lint-md

docs(aola): 更新战斗力与伤害计算文档格式与标点
  docs/aola/battle-effectiveness.md
  docs/aola/damage.md
  docs/aola/faq.md
  docs/aola/free-pet.md
  docs/aola/free-petcard2.md
  docs/aola/free-petskin.md
  docs/aola/free-resource.md
  docs/aola/getstarted.md
  docs/aola/onemorething.md
  docs/aola/packets.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
Due: lint-md

docs(aola): 更新FAQ与免费亚比文档格式及内容
  codingaolarhapsodydocsaolapet-dictionary.md.md
  docs/aola/faq.md
  docs/aola/free-pet.md
  docs/aola/free-petcard2.md
  docs/aola/free-petskin.md
  docs/aola/free-resource.md
  docs/aola/getstarted.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
  docs/aola/system.md
Due: lint-md

docs(aola): 修复免费资源文档中的标题格式问题
  docs/aola/free-resource.md
Due: lint-md

docs(always_ask_why): 修改图片命名
  docs/aola/free-petcard2.md
  docs/aola/getstarted.md
  docs/aola/onemorething.md
  docs/aola/pet-cultivation.md
  docs/aola/pet-dictionary.md
Due: lint-md
