Repository vmoranv/aolarhapsody: changes, and which lefthook commands are due for each by the changed paths.
All: lint-scripts, lint-styles, lint-json, lint-package, lint-md

lefthook.yml:

# See https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# pre-push:
#   jobs:
#     security-audit:
#       run: pnpm audit

pre-commit:
  parallel: true
  commands:
    lint-scripts:
      glob: '**/*.{js,jsx,ts,tsx}'
      run: pnpm eslint --cache --fix {staged_files}
    lint-styles:
      glob: '**/*.{css,scss,less,vue}'
      run: pnpm stylelint --fix --allow-empty-input {staged_files}
    lint-json:
      glob: '{!(package)*.json,*.code-snippets,.!(browserslist)*rc}'
      run: pnpm prettier --cache --write --parser json {staged_files}
    lint-package:
      glob: 'package.json'
      run: pnpm prettier --cache --write {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}

post-merge:
  parallel: true
  commands:
    install:
      run: pnpm install

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

style(frontend): 优化代码格式和主题加载
  frontend/src/main.tsx
  frontend/src/views/PMDataList.tsx
  frontend/src/views/PetDictionary.tsx
  frontend/src/views/Tote.tsx
  lefthook.yml
Due: lint-scripts

style: 添加 no-console 规则
  eslint.config.js
Due: none

refactor(frontend): 移除 Home 组件中的调试代码
  frontend/src/views/Home.tsx
Due: lint-scripts

refactor: remove console logs from backend
  backend/index.ts
Due: lint-scripts

refactor: update eslint config to include backend and clean up console logs
  eslint.config.js
Due: none

feat(frontend): 重构首页并添加新功能
  frontend/landing.html
  frontend/src/landing.css
  frontend/src/landing.ts
Due: lint-scripts, lint-styles

feat(frontend): 重构首页并添加新样式
  frontend/landing.html
  frontend/src/landing.css
  frontend/src/landing.ts
Due: lint-scripts, lint-styles

refactor(dataparse): 重构数据解析模块并移除子类检查器
  backend/dataparse/astralspirit.ts
  backend/dataparse/chatframe.ts
  backend/dataparse/clothes.ts
  backend/dataparse/crystalkey.ts
  backend/dataparse/galaxyfleetmark.ts
  backend/dataparse/godcard.ts
  backend/dataparse/headframe.ts
  backend/dataparse/icondata.ts
  backend/dataparse/inscription.ts
  backend/dataparse/item.ts
  backend/dataparse/miracle.ts
  backend/dataparse/petcard.ts
  backend/dataparse/petcard2.ts
  backend/dataparse/petdictionary.ts
  backend/dataparse/petstone.ts
  backend/dataparse/pettalk.ts
  backend/dataparse/petterritoryfight.ts
  backend/dataparse/pmdatalist.ts
  backend/dataparse/pmevolink.ts
  backend/dataparse/subclass-checker.ts
  backend/dataparse/summoner.ts
  backend/dataparse/task.ts
  backend/dataparse/title.ts
  backend/dataparse/tote.ts
  backend/index.ts
  backend/routes/monitor.ts
  backend/types/monitor-config.ts
  backend/types/url-config.ts
Due: lint-scripts

refactor(subclass-checker): 改进子类检查逻辑并添加新配置
  backend/dataparse/subclass-checker.ts
  backend/types/astralspirit.ts
  backend/types/chatframe.ts
  backend/types/clothes.ts
  backend/types/crystalkey.ts
  backend/types/galaxyfleetmark.ts
  backend/types/godcard.ts
  backend/types/headframe.ts
  backend/types/hk.ts
  backend/types/icondata.ts
  backend/types/inscription.ts
  backend/types/item.ts
  backend/types/miracle.ts
  backend/types/monitor-config.ts
  backend/types/petcard.ts
  backend/types/petcard2.ts
  backend/types/petdictionary.ts
  backend/types/petstone.ts
  backend/types/pettalk.ts
  backend/types/petterritoryfight.ts
  backend/types/pmdatalist.ts
  backend/types/pmevolink.ts
  backend/types/summoner.ts
  backend/types/task.ts
  backend/types/title.ts
  backend/types/tote.ts
Due: lint-scripts

feat(clothes): 添加专属服装和双人姿势配置相关功能
  backend/dataparse/clothes.ts
  backend/routes/clothes.ts
  backend/types/clothes.ts
Due: lint-scripts

refactor(layout): 更新布局组件以支持新功能
  backend/dataparse/astralspirit.ts
  backend/dataparse/chatframe.ts
  backend/dataparse/clothes.ts
  backend/dataparse/crystalkey.ts
  backend/dataparse/galaxyfleetmark.ts
  backend/dataparse/gamedataparser.ts
  backend/dataparse/godcard.ts
  backend/dataparse/headframe.ts
  backend/dataparse/hk.ts
  backend/dataparse/icondata.ts
  backend/dataparse/inscription.ts
  backend/dataparse/item.ts
  backend/dataparse/miracle.ts
  backend/dataparse/petcard.ts
  backend/dataparse/petcard2.ts
  backend/dataparse/petdictionary.ts
  backend/dataparse/petstone.ts
  backend/dataparse/pettalk.ts
  backend/dataparse/petterritoryfight.ts
  backend/dataparse/pmdatalist.ts
  backend/dataparse/pmevolink.ts
  backend/dataparse/subclasschecker.ts
  backend/dataparse/summoner.ts
  backend/dataparse/task.ts
  backend/dataparse/title.ts
  backend/dataparse/tote.ts
  backend/index.ts
  backend/routes/monitor.ts
  backend/types/monitorconfig.ts
  backend/types/urlconfig.ts
  frontend/src/components/Layout.tsx
  frontend/src/router/routes.tsx
  frontend/src/views/Attribute.tsx
  frontend/src/views/Home.tsx
Due: lint-scripts

refactor(frontend): 重构前端组件并添加注释
  backend/types/urlconfig.ts
  frontend/src/components/AttributeCard.tsx
  frontend/src/components/ErrorDisplay.tsx
  frontend/src/components/Layout.tsx
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/CrystalKey.tsx
  frontend/src/views/GodCard.tsx
  frontend/src/views/HK.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/PMDataList.tsx
  frontend/src/views/PetCard.tsx
  frontend/src/views/PetCard2.tsx
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts

feat(frontend): 实现自定义通知组件并优化 UI
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/NotificationDropdown.tsx
  frontend/src/components/PerformanceMonitor.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/hooks/useNotifications.ts
  frontend/src/main.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/Inscription.tsx
  frontend/src/views/PetCard2.tsx
Due: lint-scripts

refactor(dataparse): 优化 JSON 解析逻辑
  backend/dataparse/gamedataparser.ts
  backend/dataparse/subclasschecker.ts
Due: lint-scripts

style(frontend): 优化菜单样式和响应式布局
  frontend/src/App.tsx
  frontend/src/index.css
Due: lint-scripts, lint-styles

feat(attribute): 增加奥拉星系别克制查询功能
  backend/dataparse/pmdatalist.ts
  backend/types/pmdatalist.ts
  frontend/src/components/AttributeCard.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SearchAndFilter.tsx
  frontend/src/utils/attribute-helper.ts
  frontend/src/views/Attribute.css
  frontend/src/views/Attribute.tsx
Due: lint-scripts, lint-styles

refactor(frontend): 重构属性关系显示逻辑
  frontend/package.json
  frontend/src/utils/attribute-helper.ts
  frontend/src/views/Attribute.css
  frontend/src/views/Attribute.tsx
  pnpm-lock.yaml
Due: lint-scripts, lint-styles

style(frontend): 优化属性图标和关系图标的样式
  frontend/src/views/Attribute.css
  frontend/src/views/Attribute.tsx
Due: lint-scripts, lint-styles

feat(backend/frontend): 添加新功能并优化代码结构
  backend/dataparse/existingactivity.ts
  backend/package.json
  backend/routes/existingactivity.ts
  backend/routes/index.ts
  backend/types/existingactivity.ts
  frontend/src/components/Layout.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/contexts/NotificationContextValue.ts
  frontend/src/hooks/useNotificationContext.ts
  frontend/src/views/Attribute.tsx
  frontend/src/views/Home.tsx
  pnpm-lock.yaml
Due: lint-scripts

feat(frontend): 添加封包解析功能并优化菜单结构
  frontend/src/components/Layout.tsx
  frontend/src/components/SearchAndFilter.tsx
  frontend/src/router/routes.tsx
  frontend/src/views/ExistingPackets.tsx
Due: lint-scripts

feat(env): 添加环境变量支持并更新 API 调用
  .gitignore
  backend/.env.example
  backend/dataparse/existingactivity.ts
  backend/index.ts
  backend/package.json
  backend/types/urlconfig.ts
  frontend/.env.example
  frontend/src/utils/api.ts
  package.json
  pnpm-lock.yaml
  scripts/wait-for-backend.mjs
Due: lint-scripts, lint-package

fix(vite): 更新 Vite 配置以支持环境变量
  frontend/vite.config.ts
Due: lint-scripts

refactor(frontend): 重构 API 请求和环境变量配置
  frontend/.env.example
  frontend/src/utils/api.ts
  frontend/vite.config.ts
Due: lint-scripts

feat(frontend): 添加性能监测和开发者设置功能
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/PerformanceMonitor.tsx
  frontend/src/components/SettingsDrawer.tsx
  frontend/src/router/menuConfig.tsx
  frontend/src/store/setting.ts
  frontend/src/views/ExistingPackets.tsx
Due: lint-scripts

feat(dataparse): 新增宠物图片模块并调整相关路由和类型定义
  backend/dataparse/index.ts
  backend/dataparse/petimage.ts
  backend/routes/index.ts
  backend/routes/petimage.ts
  backend/types/index.ts
  backend/types/petimage.ts
  backend/types/urlconfig.ts
  frontend/src/router/menuConfig.tsx
  frontend/src/utils/pet-helper.ts
Due: lint-scripts

refactor(petimage): 重构亚比图片模块并迁移至前端
  backend/dataparse/index.ts
  backend/dataparse/petimage.ts
  backend/routes/index.ts
  backend/routes/petimage.ts
  frontend/src/types/url.ts
  frontend/src/utils/attribute-helper.ts
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/utils/pet-helper.ts
Due: lint-scripts

feat(pets): 优化亚比图鉴功能
  backend/dataparse/pmdatalist.ts
  backend/index.ts
  backend/routes/download.ts
  backend/routes/index.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/SearchAndFilter.tsx
  frontend/src/router/menuConfig.tsx
  frontend/src/theme/colors.ts
  frontend/src/theme/palette.css
  frontend/src/utils/attribute-helper.ts
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/utils/pet-helper.ts
  frontend/src/views/PetDictionary.css
  frontend/src/views/PetDictionary.tsx
  pnpm-lock.yaml
Due: lint-scripts, lint-styles

feat(petdictionary): 添加亚比图鉴数据项的时代/体系信息
  backend/dataparse/gamedataparser.ts
  backend/dataparse/petdictionary.ts
  backend/dataparse/pmdatalist.ts
  backend/index.ts
  backend/routes/petdictionary.ts
  backend/types/petdictionary.ts
Due: lint-scripts

feat(pet-dictionary): 增加亚比时代图标显示功能
  backend/dataparse/petdictionary.ts
  backend/dataparse/pmdatalist.ts
  backend/types/petdictionary.ts
  frontend/src/types/url.ts
  frontend/src/utils/attribute-helper.ts
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/views/PetDictionary.css
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts, lint-styles

refactor(run): 更新 subprocess 启动方式
  scripts/turbo-run/src/run.ts
Due: lint-scripts

refactor(frontend): 重构部分组件的类型定义和统计计算逻辑
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/views/AstralSpirit.tsx
  frontend/src/views/GodCard.tsx
  frontend/src/views/HK.tsx
  frontend/src/views/Inscription.tsx
  frontend/src/views/PMDataList.tsx
  frontend/src/views/PetCard.tsx
  frontend/src/views/PetCard2.tsx
  frontend/src/views/Tote.tsx
Due: lint-scripts

refactor(pet): 重构宠物技能数据处理和显示逻辑
  frontend/src/components/SkillCard.css
  frontend/src/components/SkillCard.tsx
  frontend/src/utils/pet-helper.ts
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts, lint-styles

feat(frontend): 优化技能展示并添加新旧技能切换功能
  frontend/src/components/SkillCard.tsx
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/utils/pet-helper.ts
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts

refactor(skill): 优化技能卡片组件和相关数据处理
  backend/dataparse/pmdatalist.ts
  frontend/src/components/SkillCard.tsx
  frontend/src/utils/pet-helper.ts
  frontend/src/views/PetDictionary.tsx
Due: lint-scripts

style(frontend): 优化技能详情弹窗样式
  frontend/src/components/SkillCard.css
  frontend/src/components/SkillCard.tsx
Due: lint-scripts, lint-styles

feat(poster): 添加海报功能并优化技能描述显示
  backend/dataparse/gamedataparser.ts
  backend/dataparse/index.ts
  backend/dataparse/poster.ts
  backend/routes/index.ts
  backend/routes/poster.ts
  backend/types/index.ts
  backend/types/poster.ts
  backend/types/urlconfig.ts
  frontend/src/components/SkillCard.tsx
Due: lint-scripts

refactor(poster): 重构海报模块并移除音频下载功能
  backend/dataparse/poster.ts
  backend/routes/download.ts
  backend/routes/index.ts
  backend/routes/poster.ts
  backend/types/poster.ts
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/types/poster.ts
  frontend/src/utils/pet-dictionary-helper.ts
  frontend/src/views/PetDictionary.tsx
  frontend/src/views/Poster.tsx
  frontend/vite.config.ts
Due: lint-scripts

feat(frontend): 添加图片裁剪压缩工具
  frontend/package.json
  frontend/src/components/NotificationDropdown.tsx
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/views/ImageCompressor.tsx
  frontend/src/views/Miscellaneous.tsx
  package.json
  pnpm-lock.yaml
Due: lint-scripts, lint-package

feat(frontend): 添加性格解析功能
  frontend/src/router/menuConfig.tsx
  frontend/src/router/routes.tsx
  frontend/src/utils/character-helper.ts
  frontend/src/views/CharacterAnalyzer.tsx
  frontend/src/views/Miscellaneous.tsx
  package.json
  pnpm-lock.yaml
Due: lint-scripts, lint-package
